<div class="physical">
<div class="form-group">
    <label for="substationLength">Substation Length</label>
    <input type="text" class="form-control" name="substationLength" ng-model="formData.substationLength">
</div>

<div class="form-group">
    <label for="substationWidth"> Substation Width</label>
    <input type="text" class="form-control" name="substationWidth" ng-model="formData.substationWidth">
</div>
</div>

<div class="physical">

<div class="form-group">

    <label for="lengthSpacing"> Length Spacing </label>
    <input type="text" class="form-control" name="lengthSpacing" ng-model="formData.lengthSpacing">
</div>

<div class="form-group" >
    <label for="widthSpacing">  Width Spacing </label>
    <input type="text" class="form-control" name="widthSpacing" ng-model="formData.widthSpacing">
</div>


</div>

<div class="form-group">
    <label for="earthRodLength">Earth Rod Length</label>
    <input type="text" class="form-control" name="earthRodLength" ng-model="formData.earthRodLength">
</div>

<div class="form-group">
    <label for="clearingTime">Clearing Time</label>
    <input type="text" class="form-control" name="clearingTime" ng-model="formData.clearingTime">
</div>



<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.factors" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>