<div class="form-group">
    <label for="lineVoltage">Line Voltage</label>
    <input type="number" class="form-control" name="lineVoltage" ng-model="formData.lineVoltage">
</div>

<div class="form-group">
    <label for="impedanceOne">Impedance One</label>
    <input type="number" class="form-control" name="impedanceOne" ng-model="formData.impedanceOne">
</div>

<div class="form-group" >
    <label for="impedanceTwo">Impedance Two</label>
    <input type="number" class="form-control" name="impedanceTwo" ng-model="formData.impedanceTwo">
</div>

<div class="form-group">
    <label for="impedanceThree">Impedance Three</label>
    <input type="number" class="form-control" name="impedanceThree" ng-model="formData.impedanceThree">
</div>

<div class="form-group">
    <label for="averageResistivity">Average Resistivity</label>
    <input type="number" class="form-control" name="averageResistivity" ng-model="formData.averageResistivity">
</div>

<div class="form-group">
    <label for="immediateResistivity">Immediate Resistivity</label>
    <input type="number" class="form-control" name="immediateResistivity" ng-model="formData.immediateResistivity">
</div>



<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.interests" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>