<!-- 
	login.html
	Create user and login user forms

	Revision history
	Danish Gupta, 2014.06.19: created
	Danish Gupta, 2014.06.21: Updated form ui using semantic-ui 

 -->
{{pageTitle = Login}}
<div class="material-display-flex material-flex-center" ng-controller="LoginController">
<material-card style="width: 400px;">
  <div>
    <h3>Log-in</h3>
    <form method="post" ng-submit="login()" name="LoginForm">
			<div class="material-input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ng-model="email" required>
      </div>
      <div class="material-input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" ng-model="password">
      </div>	
      <button class="material-button material-button-raised" type="reset">Reset</button>
      <button class="material-button material-button-raised material-theme-green" type="submit">Login</button>
    </form>
  </div>
</material-card>
</div>
