<!-- 
	newProject.html
	Forms to to take input design data and generate construction data

	Revision history
	Danish Gupta, 2014.06.21: created
	Danish Gupta, 2014.06.21: created design data form
	Danish Gupta, 2014.06.21: created construction data form

 -->
<h1>New Project</h1> Enter Design Data
<form method="post" ng-submit="createProject()">
  <div class="material-display-flex material-flex-center">
    <div style="width:400px;">
    
      <div class="material-input-group">
        <label for="projectName">Project Name</label>
        <input type="text" id="projectName" name="projectName" ng-model="projectName">
      </div>
      <div class="material-input-group">
        <label for="lineVoltage">Line Voltage</label>
  	  	<input type="text" id="lineVoltage" name="lineVoltage" ng-model="lineVoltage" >
      </div>
      <div class="material-input-group">
        <label for="impedanceOne">Impedance 1</label>
  	    <input type="text" id="impedanceOne" name="impedanceOne" ng-model="impedanceOne" >
      </div>
      <div class="material-input-group">
        <label for="impedanceTwo">Impedance 2</label>
  	    <input type="text" id="impedanceTwo" name="impedanceTwo" ng-model="impedanceTwo" >
      </div>
      <div class="material-input-group">
        <label for="impedanceThree">Impedance 3</label>
  	    <input type="text" id="impedanceThree" name="impedanceThree" ng-model="impedanceThree" >
      </div>
      <div class="material-input-group">
        <label for="decrementFactor">Decrement Factor</label>
  	    <input type="text" id="decrementFactor" name="decrementFactor" ng-model="decrementFactor" >
      </div>
      <div class="material-input-group">
        <label for="growthFactor">Growth Factor</label>
  	    <input type="text" id="growthFactor" name="growthFactor" ng-model="growthFactor" >
      </div>
      <div class="material-input-group">
        <label for="physicalGridCoefficient">Phyical Grid COefficient</label>
  	    <input type="text" id="physicalGridCoefficient" name="physicalGridCoefficient" ng-model="physicalGridCoefficient" >
      </div>
      <div class="material-input-group">
        <label for="irregularityFactor">Irregular Factor</label>
  	    <input type="text" id="irregularityFactor" name="irregularityFactor" ng-model="irregularityFactor" >
      </div>
      <div class="material-input-group">
        <label for="averageResistivity">Average Resistivity</label>
  	    <input type="text" id="averageResistivity" name="averageResistivity" ng-model="averageResistivity" >
      </div>
      <div class="material-input-group">
        <label for="immediateResistivity">Immediate Resistivity</label>
  	    <input type="text" id="immediateResistivity" name="immediateResistivity" ng-model="immediateResistivity" >
      </div>
  		<div class="material-input-group">
  			<label for="clearingTime">Clearing Time</label>
  	    <input type="text" id="clearingTime" name="clearingTime" ng-model="clearingTime" >
  	  </div>
  	  <div class="material-input-group">
  	  	<label for="">Substation Length</label>
  	    <input type="text" id="substationLength" name="substationLength" ng-model="substationLength" >
  	  </div>
  	  <div class="material-input-group">
  	  	<label for="">Substation width</label>
  	    <input type="text" id="substationWidth" name="substationWidth" ng-model="substationWidth" >
  	  </div>
  	  <div class="material-input-group">
  	  	<label for="widthSpacing">Width Spacing</label>
  	    <input type="text" id="widthSpacing" name="widthSpacing" ng-model="widthSpacing" >
  	  </div>
  	  <div class="material-input-group">
  	  	<label for="lengthSpacing">Length Spacing</label>
  	    <input type="text" id="lengthSpacing" name="lengthSpacing" ng-model="lengthSpacing" >
  	  </div>
  	  <div class="material-input-group">
  	  	<label for="earthRodLength">Earth Rod Length</label>
  	    <input type="text" id="earthRodLength" name="earthRodLength" ng-model="earthRodLength" >
  	  </div>
  	  <div class="material-input-group">
  	  	<label for="geometricSpacingFactor">Geometric Spacing Factor</label>
  	    <input type="text" id="geometricSpacingFactor" name="geometricSpacingFactor" ng-model="geometricSpacingFactor" Factor, >
  	  </div>
  		<button class="material-button material-button-raised" type="reset">Reset</button>
      <button class="material-button material-button-raised material-button-colored" ng-click="generateConstructionData()">Generate</button>
    </div> 
  </div>
</form>