<!-- 
	profile.html
	User profile

	Revision history
	Danish Gupta, 2014.07.09: created

 -->
<div>
<material-card style="width: 350px;">
  <div>
    <!-- <h2>Profile</h2> -->
    <form method="post" ng-submit="login()" name="LoginForm">
			<div class="material-input-group">
       	<p>Email: {{currentUser.email}}</p>
      </div>
      <div ng-hide="editProfile">
       	<p>Firstname: <span class="large">{{currentUser.firstname}}</h4> </p>
       	<p>Lastname: <span class="large">{{currentUser.lastname}}</h4> </p>
      </div>
      <div ng-show="editProfile">
	      <div class="material-input-group">
	        <label for="firstname">Firstname</label>
	        <input type="text" id="firstname" name="firstname" ng-model="userProfileDetails.firstname" autofocus>
	      </div>
	      <div class="material-input-group">
	        <label for="lastname">Lastname</label>
	        <input type="text" id="lastname" name="lastname" ng-model="userProfileDetails.lastname">
	      </div>
      </div>	
      <div class="material-input-group" ng-show="editPassword">
      	<label for="password">Password</label>
      	<input type="password" id="password" name="password" ng-model="userProfileDetails.password">       	
      </div>
      <div ng-hide="editProfile || editPassword">
      	<button class="material-button material-button-raised" type="reset" ng-click="editProfile = true">Edit</button>
      	<button class="material-button material-button-raised" ng-click="editPassword = true; editProfile = false">Edit Password</button>
      </div>
      <div ng-show="editProfile">
      	<button class="material-button material-button-raised material-theme-green" ng-click="updateProfile()">Save</button>
      	<button class="material-button material-button-raised" ng-click="editProfile = false">Cancel</button>
      </div>
      <div ng-show="editPassword">
      	<button class="material-button material-button-raised material-theme-green" ng-click="updatePassword()">Update password</button>
      	<button class="material-button material-button-raised" ng-click="editPassword = false">Cancel</button>
      </div>
    </form>
  </div>
</material-card>
