<!-- 
	projects.html
	List all the projects created by the user

	Revision history
	Danish Gupta, 2014.06.22: created

 -->
 <style>

 	.container {
 		display: flex;
 		direction: row;
 		flex-wrap: wrap;
 		justify-content: center;
  }
  .box {
		color: #607d8b;
		width: 200px;
		height: auto;
		margin: 5px;
		padding: 10px;
    background: #eceff1;
	}
	
	.fadeOutDown.ng-leave,
	.fadeOutDown.ng-enter
	.fadeOutDown.ng-move {
	  -webkit-animation-duration: 1s;
	  animation-duration: 1s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	}


@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

.fadeOutDown.ng-leave.ng-leave-active,
.fadeOutDown.ng-move,
.fadeOutDown.ng-enter	 {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}


/* SLide IN right after deleting */

@-webkit-keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideInRight {
  
}

.fadeOutDown.ng-leave,
.fadeOutDown.ng-move.ng-move-active,
.fadeOutDown.ng-enter.ng-enter-active {
	-webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}
	/*.animate-box.ng-leave {
	  -webkit-transition: all linear 1s;
	  transition: all linear 1s;
	  opacity: 1;
	}

	.animate-box.ng-leave.ng-leave-active {
	  opacity: 0;
	}
*/

#searchbox 
{
  position: relative;
  width: 100%;
}

 </style>
<div id="searchbox" ng-show="searchProjects">
  <input type="text" ng-model="query.name" placeholder="Search...">
</div>
<div class="container">
  <div ng-repeat="project in projects | filter:query">
  	<material-card style="min-width:300px;" class="box fadeOutDown">

  		<input hidden value={{project._id}} ng-model="proid" />
  		<h3>{{project.name}} <span class="label {{project.data.construction.designGrade}}"> {{project.data.construction.designGrade}} design </span> </h3>
      <p>{{project.data.construction.recommendation}}</p>
      <p>Comments: {{project.data.construction.comments}}</p> 
      <hr>
      <div ng-show="viewProject">
      <div class="panel-group" id="accordion{{$index}}">
  <!-- <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{$index}}" href="#geolocation{{$index}}">
          GeoLocation
        </a>
      </h4>
    </div>
    <div id="geolocation{{$index}}" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Latitude: {{formData.latitude}}</p>
        <p>Longitude: {{formData.longitude}}</p>
      </div>
    </div>
  </div> -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{$index}}" href="#collapseThree{{$index}}">
          Voltage
        </a>
      </h4>
    </div>
    <div id="collapseThree{{$index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p> MaxStepVoltage: {{project.data.construction.maxStepVoltage}} </p>
        <p> TolerableStepVoltage: {{project.data.construction.tolerableStepVoltage}} </p>
        <p> MaxGridPotentialRise: {{project.data.construction.maxGridPotentialRise}} </p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{$index}}" href="#collapseOne{{$index}}">
          Current
        </a>
      </h4>
    </div>
    <div id="collapseOne{{$index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p>EstimatedFaultCurrent: {{project.data.construction.estimatedFaultCurrent}}</p>
        <p>DesignFaultCurrent: {{project.data.construction.designFaultCurrent}}</p>
        <p>EarthMatResistance: {{project.data.construction.earthMatResistance}}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion{{$index}}" href="#collapseTwo{{$index}}">
          Length
        </a>
      </h4>
    </div>
    <div id="collapseTwo{{$index}}" class="panel-collapse collapse">
      <div class="panel-body">
        <p> ConductorLength: {{project.data.construction.conductorLength}} </p>
        <p> GridConductorLength: {{project.data.construction.gridConductorLength}} </p>
        <p> MinEarthRodsNumber: {{project.data.construction.minEarthRodsNumber}} </p>
        <p> IncreasedEarthRodsNumber: {{project.data.construction.increasedEarthRodsNumber}} </p>
        <p> NewGridConductorLength: {{project.data.construction.newGridConductorLength}} </p>
        <p> TotalLengthOfCopper: {{project.data.construction.totalLengthOfCopper}} </p>
      </div>
    </div>
  </div>
  
</div>
</div>

<script>
  $('a[data-toggle]').on('click', function(e) {

    e.preventDefault();
  })
</script>
      <hr>
      <a class="" title="Delete" ng-hide="confirmDelete" ng-click="confirmDelete = true">
        <i class="fa fa-trash-o fa-2x"></i>
      </a>
      &nbsp
      <a ng-hide="confirmDelete" title="Edit project" ng-click="editProject(project._id, $index)">
        <i class="fa fa-pencil fa-2x"></i>
      </a>
      &nbsp
      <a ng-click="viewProject = !viewProject" title="View Project" ng-hide="confirmDelete">
        <i class="fa fa-chevron-down fa-2x pull-right"></i>
      </a>
      <div  ng-show="confirmDelete"> 
        <button class="btn btn-danger" ng-click="remove(project._id, $index)">
          <i class="fa fa-trash-o fa-2x"></i>
           Confirm delete ? 
        </button>
        <button class="btn btn-success" ng-click="confirmDelete = false">Cancel</button>
      </div>
  	</material-card>
  </div>
</div>
