<!-- 
	login.html
	Create user and login user forms

	Revision history
	Danish Gupta, 2014.06.19: created
	Danish Gupta, 2014.06.21: Updated form ui using semantic-ui 

 -->

<div class="material-display-flex material-flex-center" ng-controller="SignupController">
  <material-card style="width:400px;"> 
  <div>
    <h2>Register</h2>
      <form method="post" ng-submit="signup()" name="signupForm">
    	<div>
        <div class="material-input-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" name="firstname" ng-model="firstname" required autofocus>
        </div>
        <div class="material-input-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" ng-model="lastname" required>
        </div>
      </div>
      <div class="material-input-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="emailAddress" ng-model="email" required>
      </div>
      <div class="material-input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="pass" ng-model="password">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  </material-card>
</div>
