/*
	style.scss
	User defined styles

	Revision history
	Danish gupta, 2014.06.20: created

*/

body {
  height: 100%;
  margin: 0px;
  /*padding-bottom: 20px;*/
}

em {
  font-style: normal;
  text-decoration: underline;
}

.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.alert.top-right {
  position: fixed;
  top: 50px;
  right: 0;
  margin: 20px;
  z-index: 1050;
  outline: none;

  .close {
    padding-left: 10px
  }
}

.btn {
  border-radius: 2px;
}

.center-form {
  width: 330px;
  margin: 10% auto;

  input {
    border-radius: 0;
  }
}

.navbar {
  width: 100%;
  background: #eee;
  height: 60px;
  padding: 10x;
  box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.1);
}

.pull-right {
  float: right;
}


.horizontal-space-between {
  display: flex;
  flex: 1 0 auto;
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.designgrade {
  postion: relative;
  height: 100%;

}

.Good {
  background: #8bc34a;
}
.Bad {
  background: #e84e40;
}

.profile {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  
  table {
    width: 800px;
    border: 1px solid #333;

    td {
      padding: 10px;
      margin: 10px;
      border: 1px dotted #111 ;
    }
  }
} 

hr {
  margin: 4px 0;
  border: 1px solid #455a64;
}

/* Headroomjs*/

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

/* Headroom js styles end*/

/* ============ Material styles */

label {
  font-size: 1em;
}

material-card {
  padding: 20px;
}

material-content {
  padding: 0;
}

.material-toolbar-tools > a.active{
  color: #ffeb3b;
}

.material-theme-emd {
  background: #607d8b;
  color: #fff;  
  a {
    color: #fff;  
  }
}

.material-input-group label {
  color: #000;
  margin-left: 5px;
}

.material-input-group > input {
  /*width: 100%;*/
  background: #fff;
  font-size: 1.2em;
  border: 2px solid #143;
}

.material-button {
  padding: 10px 30px;
  margin-right: 5px;
}

.viewsDisplayCenter {
  display: flex;
  direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* ================================ */

/*  ===============   Form design =========== */

/* BASIC STYLINGS
============================================================================= */
pre { width: 350px; margin-bottom:20px; }

/* form styling */
#form-container { 
  background: #eceff1; 
  margin-bottom:20px;
  border-radius:5px;
  max-width: 800px; 
}
#form-container .page-header { 
  background: #cfd8dc; 
  margin:0; 
  padding:10px; 
  border-top-left-radius:5px; 
  border-top-right-radius:5px; 
}

/* numbered buttons */
#status-buttons { 
  
}
#status-buttons a { 
  color:#FFF; 
  max-width: 200px;   
  display:inline-block; 
  font-size:12px; 
  /*font-weight: 800;*/
  margin-right:10px; 
  text-align:center; 
  text-transform:uppercase; 
  background: #90a4ae;
  box-shadow: 2px 2px 5px #111; 
  border-radius: 10px; 
}
#status-buttons a:hover { 
  background: #607d8b;
  /*border-radius:15px; */
  text-decoration:none; 
}
#status-buttons span { 
  width:90px; 
  height:30px; 
  font-size: 20px;
  margin:0 auto 10px; 
  padding:5px 25px; 
  display:block; 
}

/* active buttons */
#status-buttons a.active { 
  background: #607d8b; 
  /*border-radius: 10px;*/
}

/* ANIMATION STYLINGS
============================================================================= */
#form-container { 
  position:relative; 
  min-height:300px; 
  min-width: 300px;
  overflow:hidden; 
  padding:10px 30px; 

}

/* basic styling for entering and leaving */
/* left and right added to ensure full width */
#form-views.ng-enter,
#form-views.ng-leave { 
  position:absolute; 
  left:30px; 
  right:30px;
  transition:0.5s all ease; 
  -moz-transition: 0.5s all ease; 
  -webkit-transition:0.5s all ease; 
}
    
/* enter animation */
#form-views.ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
  -moz-animation:slideInRight 0.5s both ease;
  animation:slideInRight 0.5s both ease; 
}

/* leave animation */
#form-views.ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
  -moz-animation:slideOutLeft 0.5s both ease;
  animation:slideOutLeft 0.5s both ease;   
}

/* ANIMATIONS
============================================================================= */
/* slide out to the left */
@keyframes slideOutLeft {
  to    { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
  to    { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
  to    { -webkit-transform: translateX(-200%); }
}

/* slide in from the right */
@keyframes slideInRight {
  from  { transform:translateX(200%); }
  to    { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
  from  { -moz-transform:translateX(200%); }
  to    { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
  from  { -webkit-transform:translateX(200%); }
  to    { -webkit-transform: translateX(0); }
}

/*Our stuff */

/*.impedances {
width: 100%;
}

.impedances > .form-group{
width:30%;
float: left;
margin-right: 6px;
}

.physical {
width: 100%;
}

.physical > .form-group{
width: 40%;
float: left;
margin-right: 12px;
clear: none;
}
*/
/* ===== end form desing ========== */

/*= =========== Media Queries = =============*/

@media (min-width: 670px) and (max-width: 800px)  {
  #form-container {
    width: 620px;
  }
}

@media (min-width: 800px) {
  #form-container {
    width: 800px;
  }
}

/* -== ==== === ENd of Media queries*/