/*
	style.scss
	User defined styles

	Revision history
	Danish gupta, 2014.06.20: created

*/
body {
  height: 100%;
  margin: 0px;
  /*padding-bottom: 20px;*/ }

em {
  font-style: normal;
  text-decoration: underline; }

.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3); }

.alert.top-right {
  position: fixed;
  top: 50px;
  right: 0;
  margin: 20px;
  z-index: 1050;
  outline: none; }
  .alert.top-right .close {
    padding-left: 10px; }

.btn {
  border-radius: 2px; }

.center-form {
  width: 330px;
  margin: 10% auto; }
  .center-form input {
    border-radius: 0; }

.navbar {
  width: 100%;
  background: #eee;
  height: 60px;
  padding: 10x;
  box-shadow: 0 3px 2px -3px rgba(0, 0, 0, 0.1); }

.pull-right {
  float: right; }

/* ============ Material styles */
label {
  font-size: 1em; }

material-card {
  padding: 20px; }

.material-theme-emd {
  background: #607d8b;
  color: #fff; }
  .material-theme-emd a {
    color: #fff; }

.material-input-group > input {
  width: 100%;
  font-size: 1.2em; }

.material-button {
  padding: 10px 30px;
  margin-right: 5px; }

/* ================================ */


.impedances >  .form-group {
  width: 33%;
  clear: both;
  float: left;
  ,
} 