<div class=" designgrade ">

	<div class="well {{formData.designGrade}}" ng-if="formData.designGrade === 'Good'">
			<h1>{{formData.designGrade}} Design </h1>
			<h3>Recommendation: {{formData.recommendation}}</h3>
	</div>

	<div class="well {{formData.designGrade}}" ng-if="formData.designGrade === 'Bad'">
			<h1>{{formData.designGrade}} Design</h1>
			<p>Comments: {{formData.comments}}</p>
			<h3>Recommendation: {{formData.recommendation}}</h3>
	</div>

  <div class="well " ng-if="formData.designGrade === ''"> 
    
  </div>
			<!-- <button class="btn btn-default">See costruction data</button> -->
 			<button class="btn btn-default" ng-click="getCurrentGeoLocation()">Add location</button>
			<button class="btn btn-default" ng-click="createProject()">Save project</button>
			<a class="btn btn-default" ui-sref="form.electrical">edit data</a>
			<!-- <button class="btn btn-default">Share</button> -->

			<!-- <p>Coords: {{coords.latitude}} , {{coords.longitude}}</p> -->

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#geolocation">
          GeoLocation
        </a>
      </h4>
    </div>
    <div id="geolocation" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Latitude: {{formData.latitude}}</p>
        <p>Longitude: {{formData.longitude}}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Voltage
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p> MaxStepVoltage: {{formData.maxStepVoltage}} </p>
        <p> TolerableStepVoltage: {{formData.tolerableStepVoltage}} </p>
        <p> MaxGridPotentialRise: {{formData.maxGridPotentialRise}} </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Current
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>EstimatedFaultCurrent: {{formData.estimatedFaultCurrent}}</p>
        <p>DesignFaultCurrent: {{formData.designFaultCurrent}}</p>
        <p>EarthMatResistance: {{formData.earthMatResistance}}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Length
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p> ConductorLength: {{formData.conductorLength}} </p>
        <p> GridConductorLength: {{formData.gridConductorLength}} </p>
        <p> MinEarthRodsNumber: {{formData.minEarthRodsNumber}} </p>
        <p> IncreasedEarthRodsNumber: {{formData.increasedEarthRodsNumber}} </p>
        <p> NewGridConductorLength: {{formData.newGridConductorLength}} </p>
        <p> TotalLengthOfCopper: {{formData.totalLengthOfCopper}} </p>
      </div>
    </div>
  </div>
  
</div>
</div>

<script>
	$('a[data-toggle]').on('click', function(e) {

		e.preventDefault();
	})
</script>