


<div class=" designgrade ">

	<div class="well {{formData.designGrade}}" ng-if="formData.designGrade === 'Good'">
			<h2>{{formData.designGrade}} Design </h2>
      <p>Comments: {{formData.comments}}</p>
			<h3>Recommendation: {{formData.recommendation}}</h3>
	</div>

	<div class="well {{formData.designGrade}}" ng-if="formData.designGrade === 'Bad'">
			<h2>{{formData.designGrade}} Design</h2>
			<p>Comments: {{formData.comments}}</p>
			<h3>Recommendation: {{formData.recommendation}}</h3>
	</div>

  <div class="well " ng-if="formData.designGrade === ''"> 
    


  </div>
			<!-- <button class="btn btn-default">See costruction data</button> -->
 			<button class="btn btn-default" ng-click="getCurrentGeoLocation()">Add Location</button>
			<button class="btn btn-default" ng-click="createProject()">Save Project</button>
			<a class="btn btn-default" ui-sref="{{parent}}.electrical">Edit Inputs</a>
			
			<!-- <button class="btn btn-default">Share</button> -->

			<!-- <p>Coords: {{coords.latitude}} , {{coords.longitude}}</p> -->
			<h2>Construction Data output</h2>
<div class="hidden-xs" align="center">
	<img src="/views/images/EarthMatPic.jpg"> 
</div>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#geolocation" href="#">
          Coordinates
        </a>
      </h4>
    </div>
    <div id="geolocation" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Latitude: {{formData.latitude}}</p>
        <p>Longitude: {{formData.longitude}}</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseThree" href="#">
          Voltage
		  
		
		  
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
	  <p>Max Step Voltage: {{formData.maxStepVoltage}} V</p>
	  <div class="progress ">
			  <div class="progress-bar progress-bar-striped active"  role="progressbar"  aria-valuemin="0" aria-valuemax="{{formData.maxStepVoltage}}" style="width: {{formData.maxStepVoltagePercent}}%">
			
			  </div>	  

		</div>
        <div class="progress ">
			  <div class="progress-bar progress-bar-danger progress-bar-striped active"  role="progressbar"   aria-valuemin="0" aria-valuemax="{{formData.tolerableStepVoltage}}}}" style="width: {{formData.tolerableStepVoltagePercent}}%">
		
			  </div>
		</div>
		<p>Tolerable Step Voltage: {{formData.tolerableStepVoltage}} V</p>
        <p> MaxGrid Potential Rise: {{formData.maxGridPotentialRise}} V</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseOne" href="#">
          Current
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Estimated Fault Current: {{formData.estimatedFaultCurrent}} A</p>
        <p>Design Fault Current: {{formData.designFaultCurrent}} A</p>
        <p>Earth Mat Resistance: {{formData.earthMatResistance}} A</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-target="#collapseTwo" href="#">
          Length
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p> Conductor Length: {{formData.conductorLength}} m</p>
        <p> Grid Conductor Length: {{formData.gridConductorLength}} m</p>
        <p> Min. Number of Earth Rods: {{formData.minEarthRodsNumber}} rods </p>
        <p> Increased Earth Rods Number: {{formData.increasedEarthRodsNumber}} rods</p>
        <p> New Grid Conductor Length: {{formData.newGridConductorLength}} m</p>
        <p> Total Length of Copper: {{formData.totalLengthOfCopper}} m</p>
      </div>
    </div>
  </div>
  
</div>
</div>


<script>
	$('a[data-toggle]').on('click', function(e) {

		e.preventDefault();
	})
</script>