
<div class="">
<div>
  <div id="form-container">
  
      <div class="page-header text-center">
          <h2>Input Data</h2>

          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref=".electrical"><span>&#8486;</span> Electrical</a>    
              <a ui-sref-active="active" ui-sref=".physical"><span>L</span> Physical</a>
              <a ui-sref-active="active" ui-sref=".factors"><span>F</span> Factors</a>
              <a ui-sref-active="active" ui-sref=".designGrade" ng-show="showResult"><span>R</span> Result</a>
          </div>
      </div>

      <!-- <material-tabs>  -->
        <!-- Material tab to Electrical form -->
        <!-- <material-tab ui-sref-active="active" ui-sref=".electrical" label="&#8486; Electrical"> -->
        <!-- </material-tab> -->
        <!-- Material tab to physical form -->
        <!-- <material-tab ui-sref-active="active" ui-sref=".physical" label="Physical"> -->
        <!-- </material-tab> -->
        <!-- Material tab to Factors form -->
        <!-- <material-tab ui-sref-active="active" ui-sref=".factors" label="Factors"> -->
        <!-- </material-tab> -->
      <!-- </material-tabs> -->

      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="designForm" ng-submit="processForm()" novalidate>
          <!-- our nested state views will be injected here -->
            <label for="projectName"> Project Name: </label>
            <input class="form-control" id="projectName" name="projectName" ng-model="formData.projectName">
          <div id="form-views" ui-view></div>
      </form>
  
  </div>
</div>  
  <!-- show our formData as it is being typed -->
  <!-- <pre>
    {{ formData }}

  </pre>
  <pre>
    estimatedFaultCurrent : {{formData.estimatedFaultCurrent}}
    designFaultCurrent : {{formData.designFaultCurrent}}
    conductorLength : {{formData.conductorLength}}
    earthMatResistance : {{formData.earthMatResistance}}
    gridConductorLength : {{formData.gridConductorLength}}
    minEarthRodsNumber : {{formData.minEarthRodsNumber}}
    increasedEarthRodsNumber : {{formData.increasedEarthRodsNumber}}
    newGridConductorLength : {{formData.newGridConductorLength}}
    totalLengthOfCopper : {{formData.totalLengthOfCopper}}
    maxStepVoltage : {{formData.maxStepVoltage}}
    tolerableStepVoltage : {{formData.tolerableStepVoltage}}
    maxGridPotentialRise : {{formData.maxGridPotentialRise}}
    designGrade : {{formData.designGrade}}
    recommendation : {{formData.recommendation}}
    comments : {{formData.comments}}
	totalVoltage : {{formData.totalVoltage}}
	maxStepVoltagePercent : {{formData.maxStepVoltagePercent}}
	tolerableStepVoltagePercent : {{formData.tolerableStepVoltagePercent}}
  </pre> --> 

</div>
