	<script>
$(document).ready(function(){
    $("#tooltip-ex a").tooltip({
        placement : 'top'
    });
});
</script>
<div class="material-input-group" >
    <!-- <button  data-toggle="tooltip" data-placement="left" title="Tooltip on left">
        <i class="fa fa-question-circle"></i>
    </button>
    <button id="help" type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button> -->
    <label for="lineVoltage">Line Voltage</label>
    <input type="text" class="form-control" id="lineVoltage" name="lineVoltage" ng-model="formData.lineVoltage" >
	 <div class="material-input-group-btn">
     <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">V <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">V</a></li>
          <li><a href="">mV</a></li>
          <li><a href="">kV</a></li>
		  <li><a href="">MV</a></li>
          <li class="divider"></li>
        
        </ul>
  </div>
 </div>
 <div >
    <ul class="list-inline" id="tooltip-ex" >
        <li><a href="" data-toggle="tooltip" 
		data-original-title="This is the voltage seen on the AC line"><i class="fa fa-info-circle"></i></a></li>
		
     </ul>
</div>

<label>
	Impedances
	
    <ul class="list-inline" id="tooltip-ex" >
        <li><a href="" data-toggle="tooltip" 
		data-original-title="The measure of opposition when a voltage is applied"><i class="fa fa-info-circle"></i></a></li>
		
     </ul>

</label>


<div class="material-display-flex horizontal-space-between">
    <div class="material-input-group">
        <label for="impedanceOne"> One </label>
        <input type="text" id="impedanceOne" name="impedanceOne" ng-model="formData.impedanceOne">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&#8486 <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">&#8486</a></li>
          <li><a href="">m&#8486</a></li>
          <li><a href="">k&#8486</a></li>
		  <li><a href="">M&#8486</a></li>
          <li class="divider"></li>
        
        </ul>
    </div>

    <div class="material-input-group" >
        <label for="impedanceTwo"> Two </label>
        <input type="text" class="form-control" id="impedanceTwo" name="impedanceTwo" ng-model="formData.impedanceTwo">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&#8486 <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">&#8486</a></li>
          <li><a href="">m&#8486</a></li>
          <li><a href="">k&#8486</a></li>
		  <li><a href="">M&#8486</a></li>
          <li class="divider"></li>
        
        </ul>
	</div>

    <div class="material-input-group">
        <label for="impedanceThree"> Three</label>
        <input type="text" class="form-control" id="impedanceThree" name="impedanceThree" ng-model="formData.impedanceThree">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&#8486 <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">&#8486</a></li>
          <li><a href="">m&#8486</a></li>
          <li><a href="">k&#8486</a></li>
		  <li><a href="">M&#8486</a></li>
          <li class="divider"></li>
        
        </ul>
    </div>
</div>

<div class="material-input-group">
    <label for="averageResistivity">Average Resistivity</label>
    <input type="text" class="form-control" id="averageResistivity" name="averageResistivity" ng-model="formData.averageResistivity">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&#8486 <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">&#8486</a></li>
          <li><a href="">m&#8486</a></li>
          <li><a href="">k&#8486</a></li>
		  <li><a href="">M&#8486</a></li>
          <li class="divider"></li>
        
        </ul>
	<ul class="list-inline" id="tooltip-ex" >
        <li><a href="" data-toggle="tooltip" 
		data-original-title="Different soil compositions, moisture content and temperatures give different average resistivities"><i class="fa fa-info-circle"></i></a></li>
		
     </ul>	
</div>

<div class="material-input-group">
    <label for="immediateResistivity">Immediate Resistivity</label>
    <input type="text" class="form-control" id="immediateResistivity" name="immediateResistivity" ng-model="formData.immediateResistivity">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">&#8486 <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="">&#8486</a></li>
          <li><a href="">m&#8486</a></li>
          <li><a href="">k&#8486</a></li>
		  <li><a href="">M&#8486</a></li>
          <li class="divider"></li>
        
        </ul>
	<ul class="list-inline" id="tooltip-ex" >
        <li><a href="" data-toggle="tooltip" 
		data-original-title="Resistivity immediately beneath the foot"><i class="fa fa-info-circle"></i></a></li>
		
     </ul>
</div>



<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="form.physical" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>