<script>
$(document).ready(function(){
    $(".justfortooltip a").tooltip({
        placement : 'top'
    });
});
</script>
<div class="justfortooltip">
<div layout flex main-axis="space-between" flex="50">
<div>
<label for="substationLength">
    Substation Length
    <a href="" data-toggle="tooltip" 
        data-original-title="Length of the Substation"><i class="fa fa-info-circle"></i></a>
</label>
<div class="input-group">
	<input type="number" class="form-control" id="substationLength" name="substationLength" ng-model="formData.substationLength" autofocus required numeric />
    <span class="input-group-addon">m</span>
</div>
</div>
<div>
<label for="substationWidth">
    Substation Width
    <a href="" data-toggle="tooltip" 
        data-original-title="Width of the Substation"><i class="fa fa-info-circle"></i></a>
</label>
<div class="input-group">
	<input type="number" class="form-control" id="substationWidth" name="substationWidth" ng-model="formData.substationWidth" required numeric />
    <span class="input-group-addon">m</span>
</div>
</div>
</div>

<label for="lengthSpacing">
    Length Spacing
     <a href="" data-toggle="tooltip" 
        data-original-title="Spacing between lengthwise rods"><i class="fa fa-info-circle"></i></a>
</label>
<div class="input-group">
	<input type="number" class="form-control" id="lengthSpacing" name="lengthSpacing" ng-model="formData.lengthSpacing" required numeric />
    <span class="input-group-addon">m</span>
</div>

<label for="widthSpacing">
    Width Spacing
    <a href="" data-toggle="tooltip" data-original-title="Spacing between cross-sectional rods"><i class="fa fa-info-circle"></i></a>
</label>
<div class="input-group" >
    <input type="number" class="form-control" id="widthSpacing" name="widthSpacing" ng-model="formData.widthSpacing" required numeric />
    <span class="input-group-addon">m</span>
</div>

<label for="earthRodLength">
    Earth Rod Length
    <a href="" data-toggle="tooltip" data-original-title="Length of each rod">
            <i class="fa fa-info-circle"></i>
        </a>
</label>
<div class="input-group">
	<input type="number" class="form-control" id="earthRodLength" name="earthRodLength" ng-model="formData.earthRodLength" required numeric />
    <span class="input-group-addon">m</span>
</div>

<label for="clearingTime">
    Clearing Time
    <a href="" data-toggle="tooltip" data-original-title="Maximum fault clearing time"><i class="fa fa-info-circle"></i></a>
</label>
<div class="input-group">
	<input type="number" class="form-control" id="clearingTime" name="clearingTime" ng-model="formData.clearingTime" required numeric />
    <span class="input-group-addon">s</span>
</div>

<br>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="{{parent}}.factors" class="btn btn-block btn-primary">
    Next Section <i class="fa fa-chevron-right"></i>
    </a>
</div>
</div>

</div>

