<style>
  a {
    white-space: nowrap;
  }
</style>
<script>
  $(document).ready(function(){
      $("a").tooltip({
          placement : 'top'
      });
  });
</script>

<label for="lineVoltage">
  Line Voltage
  <a href="" data-toggle="tooltip" data-original-title="This is the voltage seen on the AC line">
        <i class="fa fa-info-circle "></i>
      </a>
</label>
<div class="input-group">
    <input type="number" class="form-control" name="lineVoltage" ng-model="formData.lineVoltage" autofocus>
    <span class="input-group-addon">V</span>
</div>

<label> Impedances
  <a href="" data-toggle="tooltip" data-original-title="The measure of opposition when a voltage is applied">
      <i class="fa fa-info-circle"></i>
  </a>
</label>


<div layout flex main-axis="space-between" flex="33">
  <div>
      <label for="impedanceOne"> One </label>
      <div class="input-group">
          <input class="form-control" id="impedanceOne" name="impedanceOne" ng-model="formData.impedanceOne">
          <span class="input-group-addon">&#8486</span>
      </div>
  </div>
  <div>
    <label for="impedanceTwo"> Two </label>
    <div class="input-group" >
        <input class="form-control" id="impedanceTwo" name="impedanceTwo" ng-model="formData.impedanceTwo">
        <span class="input-group-addon">&#8486</span>
	  </div>
  </div>
  <div>
    <label for="impedanceThree"> Three</label>
    <div class="input-group">
        <input class="form-control" id="impedanceThree" name="impedanceThree" ng-model="formData.impedanceThree">
        <span class="input-group-addon">&#8486</span>
    </div>
  </div>
</div>

<label for="averageResistivity">
  Average Resistivity
  <a href="" data-toggle="tooltip" 
      data-original-title="Different soil compositions, moisture content and temperatures give different average resistivities">
        <i class="fa fa-info-circle"></i>
      </a>
</label>
<div class="input-group">
    <input class="form-control" id="averageResistivity" name="averageResistivity" ng-model="formData.averageResistivity">
    <span class="input-group-addon">&#8486</span>
</div>

<label for="immediateResistivity">
  Immediate Resistivity
  <a href="" data-toggle="tooltip" data-original-title="Resistivity immediately beneath the foot">
      <i class="fa fa-info-circle"></i></a>
</label>
<div class="input-group">
  <input class="form-control" id="immediateResistivity" name="immediateResistivity" ng-model="formData.immediateResistivity">
  <span class="input-group-addon">&#8486</span>
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="{{parent}}.physical" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>
