<div class="physical">
<div class="material-input-group">
    <label for="decrementFactor">Decrement </label>
    <input type="text" class="form-control" id="decrementFactor" name="decrementFactor" ng-model="formData.decrementFactor">
</div>

<div class="material-input-group">
    <label for="growthFactor"> Growth </label>
    <input type="text" class="form-control" id="growthFactor" name="growthFactor" ng-model="formData.growthFactor">
</div>
</div>

<div class="physical">

<div class="material-input-group">

    <label for="irregularityFactor"> Irregularity  </label>
    <input type="text" class="form-control" id="irregularityFactor" name="irregularityFactor" ng-model="formData.irregularityFactor">
</div>

<div class="material-input-group" >
    <label for="geometricSpacingFactor">  Geometric Spacing  </label>
    <input type="text" class="form-control" id="geometricSpacingFactor" name="geometricSpacingFactor" ng-model="formData.geometricSpacingFactor">
</div>


</div>

<div class="material-input-group">
    <label for="physicalGridCoefficient">Physical Grid Coefficient</label>
    <input type="text" class="form-control" id="physicalGridCoefficient" name="physicalGridCoefficient" ng-model="formData.physicalGridCoefficient">
</div>


    
    <button type="submit" ng-click="processForm()" class="btn btn-danger">Submit</button>
